@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: raleway, sans-serif;
  /* "l'*" signifie tout (ici tout le contenu sera en police raleway et si ça ne marche pas eh bien la police passera en sans serif ici */
}

body {
  margin: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  align-items: center;
}

header img {
  width: 80px;
}

nav ul {
  list-style: none;
  /* list-styles "none sert a enlever les points a gauche des mot pour mes ol ou ul (ordered list / unordored list */
  display: flex;
  /* display flex sert a mettre de element l'un a cote de l'autre et non l'un au dessus de l'autre */
}

nav li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  /* j'ai reussis a enlever les ligne en dessous des mots voir la video de fromscratch */
}

nav a {
  color: #000000;
  /* mon texte est en noir mais des que je passe la souris par dessus le mot passe en bleu grace au hover */
}

nav a:hover {
  padding-top: 53px;
  transition: 0.1s;
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
/* j'ai fini la navbar */