@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: raleway, sans-serif;
  font-weight: bold;
  /* "l'*" signifie tout (ici tout le contenu sera en police raleway et si ça ne marche pas eh bien la police passera en sans serif ici */
  /*box-sizing: Border-box;*/
}

body {
  margin: auto;
  color: #000000;
  font-size: 16px;
  max-width: 1400px;
  padding:28px;
}


/* *****************HEADER *****************************/


header {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  align-items: center;
  /* ne pas oublier de suprimer les border */
  /* border: red solid; */
  height: 94px;
}

header img {
  width: 80px;
}

/* barre nav */
nav {
  height: 100%;
  /*width: 30%;*/
  width: 350px;
}

nav ul {
  list-style: none;
  /* list-styles "none sert a enlever les points a gauche des mot pour mes ol ou ul (ordered list / unordored list */
  display: flex;
  /* display flex sert a mettre de element l'un a cote de l'autre et non l'un au dessus de l'autre */
  margin: 0;
  height: 100%;
  align-items: center;
}

nav li {
  /* padding-right: 30px; */
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  /* j'ai reussis a enlever les ligne en dessous des mots voir la video de fromscratch */
}

nav a {
  color: #000000;
  /* mon texte est en noir mais des que je passe la souris par dessus le mot passe en bleu grace au hover */
  height: 100%;
  display: flex;
  align-items: center;
  /*border-top: 3px solid blue;*/
  justify-content: center;
  width: 100%;
}

/* effet visuel au dessus de hebergement et logement */
nav a:hover {
  /*padding-top: 53px;
  transition: 0.1s;
  color: #0065fc;*/
  border-top: 3px solid #0065fc;
  color: #0065FC;
}



/* j'ai fini la navbar */


@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
    height: 146px;

  }

  nav {
    height: 50%;
    width: 100%;
  }

  nav ul {
    padding: 0;
  }


  .bloc-logo {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav a:hover {
    /*padding-top: 53px;
    transition: 0.1s;
    color: #0065fc;*/
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }

}


/* ********************** MAIN ***************************** */

/* section research */

.search h1 {
  font-size: 22px;
}

/* ici on parle de la barre de recherche en general */
.formula {
  display: flex;
  margin-top: 20px;
  height: 45px;
}

.fa-map-marker-alt {
  width: 45px;
  color: #000000;
  background-color: #F2F2F2;
  border: 3px #F2F2F2 solid;
  padding: 10px;
  border-radius: 12px 0px 0px 12px;
  text-align: center;
  font-size: 16px;
}

.destination {
  border: 2px #F2F2F2 solid;
  font-size: 18px;
  font-weight: bold;
  width: 240px;
  text-indent: 10px;
}

.search-French {
  border-radius: 0 13px 13px 0;
  background: #0065fc;
  color: #ffff;
  border-style: none;
  font-weight: bold;
  width: 130px;
  font-size: 18px;
}

.rechercher_loupe {
  display: none;
}

@media all and (max-width : 425px) {
  header {
    position: relative;
    margin-bottom: 50px;
  }

  .search-French {
    display: none;
  }

  .rechercher_loupe {
    display: block;
    width: 40px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
  }

  .rechercher_loupe .fas {
    color: white;
  }
}

/* section filter */

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0px;
  gap: 25px;
}

.filter h2 {
  font-weight: bold;
  font-size: 18px;
}

.filter ul {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.filter li {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 100px;
  border-left: #DEEBFF;
}

.filter a {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  padding: 0px 12px;
}

/* passage de souris sur les li donc changement de couleur */
.filter li:hover {
  background-color: #DEEBFF;
}

.blue-icon {
  /* la seul facçon que j'ai trouver pour mettre tout les logo au centre */
  line-height: 3;
  color: #0065fc;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  text-align: center;
}

/* Info */
.info {
  display: flex;
  align-items: center;
}

.fa-info {
  width: 15px;
  height: 15px;
  color: #0065fc;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  padding: 5px 5px;
  font-size: 15px;
  text-align: center;
}

.info p {
  margin-left: 15px;
}

/* fin du css de la premiere partie place au media queries je demanderai au mentor ce samedi */

/* hebergement à marseille */

#hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin bottom = marge inférieure de l'element */
  margin-bottom: 500px;
}

.title_hebergements13 {
  margin: 0px;
  font-size: large bold;
  margin-bottom: 20px;

}

#hebergements13 {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 20px;
  padding: 44px 36px 44px 36px;
  max-width: 805px;
}

.container_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 60px;
}

.box_carte {
  border: 3px solid white;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  background-color: white;
  max-width: 236px;
  margin-bottom: 28px;
}

.photo_hebergement {
  object-fit: cover;
  width: 236px;
  height: 112px;
  /* j'ai arrondi les coin superieur droit et gauche sans toucher les coins inferieur (sinon j'aurai utiliser border radius si je me rappel bien */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hebergement_contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}

.titre_contenu {
  padding-top: 11px;
  padding-bottom: 11px;
}

.prix_contenu {
  padding-bottom: 11px;
}

.hebergement_notation {
  padding-bottom: 11px;
}

.hebergement_contenu h3 {
  font-weight: bold;
  font-style: normal;
}

.fas.fa-star.grey_star {
  color: #f2f2f2;
}

.fas.fa-star {
  color: #0065fc;
}


/* les plus populaires */

#populaires {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pop_header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 15px;
  align-items: center;
}

#pop_icon {
  font-size: 22px;
}

#pop-cards-section {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-card {
  width: 100%;
  height: 145px;
  background-color: #ffff;
  border-radius: 20px;
  padding: 5px;
  margin: 10px -5px;
  box-shadow: #d5d4d4 0px 5px 10px;
}

.pop-card:hover {
  box-shadow: gray 0px 5px 10px;
}

.pop-card a {
  display: flex;
  text-decoration: none;
  color: #000;
}

.pop-hotel-picture {
  width: 40%;
  height: 135px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  margin-right: 10px;
}

.pop-stars {
  font-size: 11px;
  color: #0065fc;
}

.pop-card-text {
  width: 60%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}